openapi: 3.2.0
info:
  title: Payment Initiation File Payments API
  description: OpenAPI for Payment Initiation API Specification
  termsOfService: https://www.openbanking.org.uk/terms
  contact:
    name: Service Desk
    email: ServiceDesk@openbanking.org.uk
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  version: v3.1.2
servers:
- url: https://ob-ybs.api.ybs.co.uk/open-banking/v3.1/pisp
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: File Payments
paths:
  /file-payment-consents:
    post:
      tags:
      - File Payments
      summary: Create File Payment Consents
      operationId: CreateFilePaymentConsents
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      responses:
        '201':
          $ref: '#/components/responses/201FilePaymentConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/OBWriteFileConsent3Param'
  /file-payment-consents/{ConsentId}:
    get:
      tags:
      - File Payments
      summary: Get File Payment Consents
      operationId: GetFilePaymentConsentsConsentId
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
  /file-payment-consents/{ConsentId}/file:
    post:
      tags:
      - File Payments
      summary: Create File Payment Consents
      operationId: CreateFilePaymentConsentsConsentIdFile
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentConsentsConsentIdFileCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/FileParam'
    get:
      tags:
      - File Payments
      summary: Get File Payment Consents
      operationId: GetFilePaymentConsentsConsentIdFile
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentConsentsConsentIdFileRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
  /file-payments:
    post:
      tags:
      - File Payments
      summary: Create File Payments
      operationId: CreateFilePayments
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      responses:
        '201':
          $ref: '#/components/responses/201FilePaymentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - PSUOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/OBWriteFile2Param'
  /file-payments/{FilePaymentId}:
    get:
      tags:
      - File Payments
      summary: Get File Payments
      operationId: GetFilePaymentsFilePaymentId
      parameters:
      - $ref: '#/components/parameters/FilePaymentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentsFilePaymentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
  /file-payments/{FilePaymentId}/report-file:
    get:
      tags:
      - File Payments
      summary: Get File Payments
      operationId: GetFilePaymentsFilePaymentIdReportFile
      parameters:
      - $ref: '#/components/parameters/FilePaymentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/200FilePaymentsFilePaymentIdReportFileRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
components:
  responses:
    200FilePaymentConsentsConsentIdFileCreated:
      description: File Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    200FilePaymentConsentsConsentIdRead:
      description: File Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteFileConsentResponse3'
    200FilePaymentsFilePaymentIdRead:
      description: File Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteFileResponse2'
    500Error:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    429Error:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    201FilePaymentsCreated:
      description: File Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteFileResponse2'
    200FilePaymentsFilePaymentIdReportFileRead:
      description: File Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/File'
    406Error:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    201FilePaymentConsentsCreated:
      description: File Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteFileConsentResponse3'
    401Error:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    200FilePaymentConsentsConsentIdFileRead:
      description: File Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/File'
    404Error:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    400Error:
      description: Bad request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    403Error:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    405Error:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
  schemas:
    OBExternalAccountIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      x-namespaced-enum:
      - UK.OBIE.BBAN
      - UK.OBIE.IBAN
      - UK.OBIE.PAN
      - UK.OBIE.Paym
      - UK.OBIE.SortCodeAccountNumber
    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}\.\d{1,5}$
    Meta:
      title: MetaData
      type: object
      description: Meta Data relevant to the payload
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
      additionalProperties: false
    OBChargeBearerType1Code:
      description: Specifies which party/parties will bear the charges associated with the processing of the payment transaction.
      type: string
      enum:
      - BorneByCreditor
      - BorneByDebtor
      - FollowingServiceLevel
      - Shared
    OBActiveOrHistoricCurrencyAndAmount:
      type: object
      required:
      - Amount
      - Currency
      description: Amount of money associated with the charge type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
    File:
      type: object
      properties: {}
    OBWriteFile2:
      type: object
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - ConsentId
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            Initiation:
              type: object
              required:
              - FileType
              - FileHash
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds using a payment file.
              properties:
                FileType:
                  description: Specifies the payment file type.
                  type: string
                  x-namespaced-enum:
                  - UK.OBIE.PaymentInitiation.3.1
                  - UK.OBIE.pain.001.001.08
                FileHash:
                  description: A base64 encoding of a SHA256 hash of the file to be uploaded.
                  type: string
                  minLength: 1
                  maxLength: 44
                FileReference:
                  description: Reference for the file.
                  type: string
                  minLength: 1
                  maxLength: 40
                NumberOfTransactions:
                  description: Number of individual transactions contained in the payment information group.
                  type: string
                  pattern: '[0-9]{1,15}'
                ControlSum:
                  description: Total of all individual amounts included in the group, irrespective of currencies.
                  type: number
                RequestedExecutionDateTime:
                  description: "Date at which the initiating party requests the clearing agent to process the payment. \nUsage: This is the date on which the debtor's account is to be debited.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                LocalInstrument:
                  $ref: '#/components/schemas/OBExternalLocalInstrument1Code'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                RemittanceInformation:
                  type: object
                  description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.
                  properties:
                    Unstructured:
                      description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.
                      type: string
                      minLength: 1
                      maxLength: 140
                    Reference:
                      description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                        Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                        If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.

                        OB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.'
                      type: string
                      minLength: 1
                      maxLength: 35
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
    ActiveOrHistoricCurrencyCode:
      description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".
      type: string
      pattern: ^[A-Z]{3,3}$
    OBExternalPaymentChargeType1Code:
      description: Charge type, in a coded form.
      type: string
      x-namespaced-enum:
      - UK.OBIE.CHAPSOut
    ISODateTime:
      description: "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: string
      format: date-time
    Links:
      type: object
      description: Links relevant to the payload
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
      additionalProperties: false
      required:
      - Self
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      properties:
        Code:
          description: High level textual error code, to help categorize the errors.
          type: string
          minLength: 1
          maxLength: 40
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Message:
          description: Brief Error message, e.g., 'There is something wrong with the request parameters provided'
          type: string
          minLength: 1
          maxLength: 500
        Errors:
          items:
            $ref: '#/components/schemas/OBError1'
          type: array
          minItems: 1
      required:
      - Code
      - Message
      - Errors
      additionalProperties: false
    Identification:
      description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
      type: string
      minLength: 1
      maxLength: 256
    SecondaryIdentification:
      description: "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
      type: string
      minLength: 1
      maxLength: 34
    OBWriteFileConsent3:
      type: object
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - Initiation
          properties:
            Initiation:
              type: object
              required:
              - FileType
              - FileHash
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds using a payment file.
              properties:
                FileType:
                  description: Specifies the payment file type.
                  type: string
                  x-namespaced-enum:
                  - UK.OBIE.PaymentInitiation.3.1
                  - UK.OBIE.pain.001.001.08
                FileHash:
                  description: A base64 encoding of a SHA256 hash of the file to be uploaded.
                  type: string
                  minLength: 1
                  maxLength: 44
                FileReference:
                  description: Reference for the file.
                  type: string
                  minLength: 1
                  maxLength: 40
                NumberOfTransactions:
                  description: Number of individual transactions contained in the payment information group.
                  type: string
                  pattern: '[0-9]{1,15}'
                ControlSum:
                  description: Total of all individual amounts included in the group, irrespective of currencies.
                  type: number
                RequestedExecutionDateTime:
                  description: "Date at which the initiating party requests the clearing agent to process the payment. \nUsage: This is the date on which the debtor's account is to be debited.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                LocalInstrument:
                  $ref: '#/components/schemas/OBExternalLocalInstrument1Code'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                RemittanceInformation:
                  type: object
                  description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.
                  properties:
                    Unstructured:
                      description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.
                      type: string
                      minLength: 1
                      maxLength: 140
                    Reference:
                      description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                        Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                        If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.

                        OB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.'
                      type: string
                      minLength: 1
                      maxLength: 35
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            Authorisation:
              type: object
              required:
              - AuthorisationType
              description: The authorisation type request from the TPP.
              properties:
                AuthorisationType:
                  description: Type of authorisation flow requested.
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: "Date and time at which the requested authorisation flow must be completed.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
            SCASupportData:
              type: object
              description: Supporting Data provided by TPP, when requesting SCA Exemption.
              properties:
                RequestedSCAExemptionType:
                  description: This field allows a PISP to request specific SCA Exemption for a Payment Initiation
                  type: string
                  enum:
                  - BillPayment
                  - ContactlessTravel
                  - EcommerceGoods
                  - EcommerceServices
                  - Kiosk
                  - Parking
                  - PartyToParty
                AppliedAuthenticationApproach:
                  description: 'Specifies a character string with a maximum length of 40 characters.

                    Usage: This field indicates whether the PSU was subject to SCA performed by the TPP'
                  type: string
                  enum:
                  - CA
                  - SCA
                ReferencePaymentOrderId:
                  description: 'Specifies a character string with a maximum length of 140 characters.

                    Usage: If the payment is recurring then the transaction identifier of the previous payment occurrence so that the ASPSP can verify that the PISP, amount and the payee are the same as the previous occurrence.'
                  type: string
                  minLength: 1
                  maxLength: 128
    OBSupplementaryData1:
      type: object
      properties: {}
      additionalProperties: true
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
    OBWriteFileConsentResponse3:
      type: object
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Status:
              description: Specifies the status of consent resource in code form.
              type: string
              enum:
              - Authorised
              - AwaitingAuthorisation
              - AwaitingUpload
              - Consumed
              - Rejected
            StatusUpdateDateTime:
              description: "Date and time at which the consent resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            CutOffDateTime:
              description: "Specified cut-off date and time for the payment consent.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Charges:
              type: array
              items:
                type: object
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBExternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            Initiation:
              type: object
              required:
              - FileType
              - FileHash
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds using a payment file.
              properties:
                FileType:
                  description: Specifies the payment file type.
                  type: string
                  x-namespaced-enum:
                  - UK.OBIE.PaymentInitiation.3.1
                  - UK.OBIE.pain.001.001.08
                FileHash:
                  description: A base64 encoding of a SHA256 hash of the file to be uploaded.
                  type: string
                  minLength: 1
                  maxLength: 44
                FileReference:
                  description: Reference for the file.
                  type: string
                  minLength: 1
                  maxLength: 40
                NumberOfTransactions:
                  description: Number of individual transactions contained in the payment information group.
                  type: string
                  pattern: '[0-9]{1,15}'
                ControlSum:
                  description: Total of all individual amounts included in the group, irrespective of currencies.
                  type: number
                RequestedExecutionDateTime:
                  description: "Date at which the initiating party requests the clearing agent to process the payment. \nUsage: This is the date on which the debtor's account is to be debited.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                LocalInstrument:
                  $ref: '#/components/schemas/OBExternalLocalInstrument1Code'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                RemittanceInformation:
                  type: object
                  description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.
                  properties:
                    Unstructured:
                      description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.
                      type: string
                      minLength: 1
                      maxLength: 140
                    Reference:
                      description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                        Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                        If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.

                        OB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.'
                      type: string
                      minLength: 1
                      maxLength: 35
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            Authorisation:
              type: object
              required:
              - AuthorisationType
              description: The authorisation type request from the TPP.
              properties:
                AuthorisationType:
                  description: Type of authorisation flow requested.
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: "Date and time at which the requested authorisation flow must be completed.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
            SCASupportData:
              type: object
              description: Supporting Data provided by TPP, when requesting SCA Exemption.
              properties:
                RequestedSCAExemptionType:
                  description: This field allows a PISP to request specific SCA Exemption for a Payment Initiation
                  type: string
                  enum:
                  - BillPayment
                  - ContactlessTravel
                  - EcommerceGoods
                  - EcommerceServices
                  - Kiosk
                  - Parking
                  - PartyToParty
                AppliedAuthenticationApproach:
                  description: 'Specifies a character string with a maximum length of 40 characters.

                    Usage: This field indicates whether the PSU was subject to SCA performed by the TPP'
                  type: string
                  enum:
                  - CA
                  - SCA
                ReferencePaymentOrderId:
                  description: 'Specifies a character string with a maximum length of 140 characters.

                    Usage: If the payment is recurring then the transaction identifier of the previous payment occurrence so that the ASPSP can verify that the PISP, amount and the payee are the same as the previous occurrence.'
                  type: string
                  minLength: 1
                  maxLength: 128
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBWriteFileResponse2:
      type: object
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - FilePaymentId
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Initiation
          properties:
            FilePaymentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the file payment resource.'
              type: string
              minLength: 1
              maxLength: 40
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: "Date and time at which the message was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Status:
              description: Specifies the status of the payment order resource.
              type: string
              enum:
              - InitiationCompleted
              - InitiationFailed
              - InitiationPending
            StatusUpdateDateTime:
              description: "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Charges:
              type: array
              items:
                type: object
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBExternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            Initiation:
              type: object
              required:
              - FileType
              - FileHash
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds using a payment file.
              properties:
                FileType:
                  description: Specifies the payment file type.
                  type: string
                  x-namespaced-enum:
                  - UK.OBIE.PaymentInitiation.3.1
                  - UK.OBIE.pain.001.001.08
                FileHash:
                  description: A base64 encoding of a SHA256 hash of the file to be uploaded.
                  type: string
                  minLength: 1
                  maxLength: 44
                FileReference:
                  description: Reference for the file.
                  type: string
                  minLength: 1
                  maxLength: 40
                NumberOfTransactions:
                  description: Number of individual transactions contained in the payment information group.
                  type: string
                  pattern: '[0-9]{1,15}'
                ControlSum:
                  description: Total of all individual amounts included in the group, irrespective of currencies.
                  type: number
                RequestedExecutionDateTime:
                  description: "Date at which the initiating party requests the clearing agent to process the payment. \nUsage: This is the date on which the debtor's account is to be debited.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                LocalInstrument:
                  $ref: '#/components/schemas/OBExternalLocalInstrument1Code'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Unambiguous identification of the account of the debtor to which a debit entry will be made as a result of the transaction.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                RemittanceInformation:
                  type: object
                  description: Information supplied to enable the matching of an entry with the items that the transfer is intended to settle, such as commercial invoices in an accounts' receivable system.
                  properties:
                    Unstructured:
                      description: Information supplied to enable the matching/reconciliation of an entry with the items that the payment is intended to settle, such as commercial invoices in an accounts' receivable system, in an unstructured form.
                      type: string
                      minLength: 1
                      maxLength: 140
                    Reference:
                      description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                        Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                        If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.

                        OB: The Faster Payments Scheme can only accept 18 characters for the ReferenceInformation field - which is where this ISO field will be mapped.'
                      type: string
                      minLength: 1
                      maxLength: 35
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            MultiAuthorisation:
              type: object
              required:
              - Status
              description: The multiple authorisation flow response from the ASPSP.
              properties:
                Status:
                  description: Specifies the status of the authorisation flow in code form.
                  type: string
                  enum:
                  - Authorised
                  - AwaitingFurtherAuthorisation
                  - Rejected
                NumberRequired:
                  description: Number of authorisations required for payment order (total required at the start of the multi authorisation journey).
                  type: integer
                NumberReceived:
                  description: Number of authorisations received.
                  type: integer
                LastUpdateDateTime:
                  description: "Last date and time at the authorisation flow was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                ExpirationDateTime:
                  description: "Date and time at which the requested authorisation flow must be completed.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBError1:
      type: object
      properties:
        ErrorCode:
          description: Low level textual error code, e.g., UK.OBIE.Field.Missing
          type: string
          x-namespaced-enum:
          - UK.OBIE.Field.Expected
          - UK.OBIE.Field.Invalid
          - UK.OBIE.Field.InvalidDate
          - UK.OBIE.Field.Missing
          - UK.OBIE.Field.Unexpected
          - UK.OBIE.Header.Invalid
          - UK.OBIE.Header.Missing
          - UK.OBIE.Reauthenticate
          - UK.OBIE.Resource.ConsentMismatch
          - UK.OBIE.Resource.InvalidConsentStatus
          - UK.OBIE.Resource.InvalidFormat
          - UK.OBIE.Resource.NotFound
          - UK.OBIE.Rules.AfterCutOffDateTime
          - UK.OBIE.Rules.DuplicateReference
          - UK.OBIE.Signature.Invalid
          - UK.OBIE.Signature.InvalidClaim
          - UK.OBIE.Signature.Malformed
          - UK.OBIE.Signature.Missing
          - UK.OBIE.Signature.MissingClaim
          - UK.OBIE.Signature.Unexpected
          - UK.OBIE.UnexpectedError
          - UK.OBIE.Unsupported.AccountIdentifier
          - UK.OBIE.Unsupported.AccountSecondaryIdentifier
          - UK.OBIE.Unsupported.Currency
          - UK.OBIE.Unsupported.Frequency
          - UK.OBIE.Unsupported.LocalInstrument
          - UK.OBIE.Unsupported.Scheme
        Message:
          description: 'A description of the error that occurred. e.g., ''A mandatory field isn''t supplied'' or ''RequestedExecutionDateTime must be in future''

            OBIE doesn''t standardise this field'
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
      required:
      - ErrorCode
      - Message
      additionalProperties: false
      minProperties: 1
    OBExternalLocalInstrument1Code:
      description: 'User community specific instrument.

        Usage: This element is used to specify a local instrument, local clearing option and/or further qualify the service or service level.'
      type: string
      x-namespaced-enum:
      - UK.OBIE.BACS
      - UK.OBIE.BalanceTransfer
      - UK.OBIE.CHAPS
      - UK.OBIE.Euro1
      - UK.OBIE.FPS
      - UK.OBIE.Link
      - UK.OBIE.MoneyTransfer
      - UK.OBIE.Paym
      - UK.OBIE.SEPACreditTransfer
      - UK.OBIE.SEPAInstantCreditTransfer
      - UK.OBIE.SWIFT
      - UK.OBIE.Target2
  parameters:
    x-fapi-interaction-id:
      in: header
      name: x-fapi-interaction-id
      required: false
      description: An RFC4122 UID used as a correlation id.
      schema:
        type: string
    x-jws-signature:
      in: header
      name: x-jws-signature
      required: true
      description: A detached JWS signature of the body of the payload.
      schema:
        type: string
    x-fapi-auth-date:
      in: header
      name: x-fapi-auth-date
      required: false
      description: "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC"
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
    x-idempotency-key:
      name: x-idempotency-key
      in: header
      description: 'Every request will be processed only once per x-idempotency-key.  The

        Idempotency Key will be valid for 24 hours.

        '
      required: true
      schema:
        type: string
        pattern: ^(?!\s)(.*)(\S)$
        maxLength: 40
    FilePaymentId:
      name: FilePaymentId
      in: path
      description: FilePaymentId
      required: true
      schema:
        type: string
    Authorization:
      in: header
      name: Authorization
      required: true
      description: An Authorisation Token as per https://tools.ietf.org/html/rfc6750
      schema:
        type: string
    ConsentId:
      name: ConsentId
      in: path
      description: ConsentId
      required: true
      schema:
        type: string
    x-fapi-customer-ip-address:
      in: header
      name: x-fapi-customer-ip-address
      required: false
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      schema:
        type: string
  requestBodies:
    FileParam:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/File'
      required: true
    OBWriteFile2Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteFile2'
      required: true
    OBWriteFileConsent3Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteFileConsent3'
      required: true
  securitySchemes:
    TPPOAuth2Security:
      type: oauth2
      description: TPP client credential authorisation flow with the ASPSP
      flows:
        clientCredentials:
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
    PSUOAuth2Security:
      type: oauth2
      description: OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU
      flows:
        authorizationCode:
          authorizationUrl: https://authserver.example/authorization
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
