openapi: 3.2.0
info:
  title: Payment Initiation Domestic Standing Orders API
  description: OpenAPI for Payment Initiation API Specification
  termsOfService: https://www.openbanking.org.uk/terms
  contact:
    name: Service Desk
    email: ServiceDesk@openbanking.org.uk
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  version: v3.1.2
servers:
- url: https://ob-ybs.api.ybs.co.uk/open-banking/v3.1/pisp
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Domestic Standing Orders
paths:
  /domestic-standing-order-consents:
    post:
      tags:
      - Domestic Standing Orders
      summary: Create Domestic Standing Order Consents
      operationId: CreateDomesticStandingOrderConsents
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      responses:
        '201':
          $ref: '#/components/responses/201DomesticStandingOrderConsentsCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/OBWriteDomesticStandingOrderConsent4Param'
  /domestic-standing-order-consents/{ConsentId}:
    get:
      tags:
      - Domestic Standing Orders
      summary: Get Domestic Standing Order Consents
      operationId: GetDomesticStandingOrderConsentsConsentId
      parameters:
      - $ref: '#/components/parameters/ConsentId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticStandingOrderConsentsConsentIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
  /domestic-standing-orders:
    post:
      tags:
      - Domestic Standing Orders
      summary: Create Domestic Standing Orders
      operationId: CreateDomesticStandingOrders
      parameters:
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/x-idempotency-key'
      - $ref: '#/components/parameters/x-jws-signature'
      responses:
        '201':
          $ref: '#/components/responses/201DomesticStandingOrdersCreated'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - PSUOAuth2Security:
        - payments
      requestBody:
        $ref: '#/components/requestBodies/OBWriteDomesticStandingOrder3Param'
  /domestic-standing-orders/{DomesticStandingOrderId}:
    get:
      tags:
      - Domestic Standing Orders
      summary: Get Domestic Standing Orders
      operationId: GetDomesticStandingOrdersDomesticStandingOrderId
      parameters:
      - $ref: '#/components/parameters/DomesticStandingOrderId'
      - $ref: '#/components/parameters/x-fapi-auth-date'
      - $ref: '#/components/parameters/x-fapi-customer-ip-address'
      - $ref: '#/components/parameters/x-fapi-interaction-id'
      - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead'
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '403':
          $ref: '#/components/responses/403Error'
        '404':
          $ref: '#/components/responses/404Error'
        '405':
          $ref: '#/components/responses/405Error'
        '406':
          $ref: '#/components/responses/406Error'
        '429':
          $ref: '#/components/responses/429Error'
        '500':
          $ref: '#/components/responses/500Error'
      security:
      - TPPOAuth2Security:
        - payments
components:
  schemas:
    OBWriteDomesticStandingOrderConsentResponse4:
      type: object
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          required:
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Permission
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Status:
              description: Specifies the status of consent resource in code form.
              type: string
              enum:
              - Authorised
              - AwaitingAuthorisation
              - Consumed
              - Rejected
            StatusUpdateDateTime:
              description: "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Permission:
              description: Specifies the Open Banking service request types.
              type: string
              enum:
              - Create
            CutOffDateTime:
              description: "Specified cut-off date and time for the payment consent.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Charges:
              type: array
              items:
                type: object
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBExternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            Initiation:
              type: object
              required:
              - Frequency
              - FirstPaymentDateTime
              - FirstPaymentAmount
              - CreditorAccount
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a domestic standing order.
              properties:
                Frequency:
                  description: "Individual Definitions:\nEvryDay - Every day\nEvryWorkgDay - Every working day\nIntrvlWkDay - An interval specified in weeks (01 to 09), and the day within the week (01 to 07)\nWkInMnthDay - A monthly interval, specifying the week of the month (01 to 05) and day within the week (01 to 07)\nIntrvlMnthDay - An interval specified in months (between 01 to 06, 12, 24), specifying the day within the month (-5 to -1, 1 to 31)\nQtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED). \nENGLISH = Paid on the 25th March, 24th June, 29th September and 25th December. \nSCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th November.\nRECEIVED = Paid on the 20th March, 19th June, 24th September and 20th December. \nIndividual Patterns:\nEvryDay (ScheduleCode)\nEvryWorkgDay (ScheduleCode)\nIntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks + DayInWeek)\nWkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth + DayInWeek)\nIntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode + IntervalInMonths + DayInMonth)\nQtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode + QuarterDay\nThe regular expression for this element combines five smaller versions for each permitted pattern. To aid legibility - the components are presented individually here:\nEvryDay\nEvryWorkgDay\nIntrvlWkDay:0[1-9]:0[1-7]\nWkInMnthDay:0[1-5]:0[1-7]\nIntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])\nQtrDay:(ENGLISH|SCOTTISH|RECEIVED)\nFull Regular Expression:\n^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$"
                  type: string
                  pattern: ^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
                Reference:
                  description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                    Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                    If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.'
                  type: string
                  minLength: 1
                  maxLength: 35
                NumberOfPayments:
                  description: Number of the payments that will be made in completing this frequency sequence including any executed since the sequence start date.
                  type: string
                  minLength: 1
                  maxLength: 35
                FirstPaymentDateTime:
                  description: "The date on which the first payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                RecurringPaymentDateTime:
                  description: "The date on which the first recurring payment for a Standing Order schedule will be made. \nUsage: This must be populated only if the first recurring date is different to the first payment date.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FinalPaymentDateTime:
                  description: "The date on which the final payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FirstPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the first Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                RecurringPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the recurring Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                FinalPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the final Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Provides the details to identify the debtor account.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                CreditorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level.

                        Note, the account name is not the product name or the nickname of the account.

                        OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            Authorisation:
              type: object
              required:
              - AuthorisationType
              description: The authorisation type request from the TPP.
              properties:
                AuthorisationType:
                  description: Type of authorisation flow requested.
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: "Date and time at which the requested authorisation flow must be completed.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
            SCASupportData:
              type: object
              description: Supporting Data provided by TPP, when requesting SCA Exemption.
              properties:
                RequestedSCAExemptionType:
                  description: This field allows a PISP to request specific SCA Exemption for a Payment Initiation
                  type: string
                  enum:
                  - BillPayment
                  - ContactlessTravel
                  - EcommerceGoods
                  - EcommerceServices
                  - Kiosk
                  - Parking
                  - PartyToParty
                AppliedAuthenticationApproach:
                  description: 'Specifies a character string with a maximum length of 40 characters.

                    Usage: This field indicates whether the PSU was subject to SCA performed by the TPP'
                  type: string
                  enum:
                  - CA
                  - SCA
                ReferencePaymentOrderId:
                  description: 'Specifies a character string with a maximum length of 140 characters.

                    Usage: If the payment is recurring then the transaction identifier of the previous payment occurrence so that the ASPSP can verify that the PISP, amount and the payee are the same as the previous occurrence.'
                  type: string
                  minLength: 1
                  maxLength: 128
        Risk:
          $ref: '#/components/schemas/OBRisk1'
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBExternalAccountIdentification4Code:
      description: Name of the identification scheme, in a coded form as published in an external list.
      type: string
      x-namespaced-enum:
      - UK.OBIE.BBAN
      - UK.OBIE.IBAN
      - UK.OBIE.PAN
      - UK.OBIE.Paym
      - UK.OBIE.SortCodeAccountNumber
    OBActiveCurrencyAndAmount_SimpleType:
      description: A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.
      type: string
      pattern: ^\d{1,13}\.\d{1,5}$
    Meta:
      title: MetaData
      type: object
      description: Meta Data relevant to the payload
      properties:
        TotalPages:
          type: integer
          format: int32
        FirstAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
        LastAvailableDateTime:
          $ref: '#/components/schemas/ISODateTime'
      additionalProperties: false
    OBChargeBearerType1Code:
      description: Specifies which party/parties will bear the charges associated with the processing of the payment transaction.
      type: string
      enum:
      - BorneByCreditor
      - BorneByDebtor
      - FollowingServiceLevel
      - Shared
    OBActiveOrHistoricCurrencyAndAmount:
      type: object
      required:
      - Amount
      - Currency
      description: Amount of money associated with the charge type.
      properties:
        Amount:
          $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
        Currency:
          $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
    StreetName:
      description: Name of a street or thoroughfare.
      type: string
      minLength: 1
      maxLength: 70
    ActiveOrHistoricCurrencyCode:
      description: A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".
      type: string
      pattern: ^[A-Z]{3,3}$
    OBExternalPaymentChargeType1Code:
      description: Charge type, in a coded form.
      type: string
      x-namespaced-enum:
      - UK.OBIE.CHAPSOut
    BuildingNumber:
      description: Number that identifies the position of a building on a street.
      type: string
      minLength: 1
      maxLength: 16
    ISODateTime:
      description: "All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
      type: string
      format: date-time
    Links:
      type: object
      description: Links relevant to the payload
      properties:
        Self:
          type: string
          format: uri
        First:
          type: string
          format: uri
        Prev:
          type: string
          format: uri
        Next:
          type: string
          format: uri
        Last:
          type: string
          format: uri
      additionalProperties: false
      required:
      - Self
    OBErrorResponse1:
      description: An array of detail error codes, and messages, and URLs to documentation to help remediation.
      type: object
      properties:
        Code:
          description: High level textual error code, to help categorize the errors.
          type: string
          minLength: 1
          maxLength: 40
        Id:
          description: A unique reference for the error instance, for audit purposes, in case of unknown/unclassified errors.
          type: string
          minLength: 1
          maxLength: 40
        Message:
          description: Brief Error message, e.g., 'There is something wrong with the request parameters provided'
          type: string
          minLength: 1
          maxLength: 500
        Errors:
          items:
            $ref: '#/components/schemas/OBError1'
          type: array
          minItems: 1
      required:
      - Code
      - Message
      - Errors
      additionalProperties: false
    OBWriteDomesticStandingOrderResponse4:
      type: object
      required:
      - Data
      properties:
        Data:
          type: object
          required:
          - DomesticStandingOrderId
          - ConsentId
          - CreationDateTime
          - Status
          - StatusUpdateDateTime
          - Initiation
          properties:
            DomesticStandingOrderId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the domestic standing order resource.'
              type: string
              minLength: 1
              maxLength: 40
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            CreationDateTime:
              description: "Date and time at which the resource was created.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Status:
              description: Specifies the status of the payment order resource.
              type: string
              enum:
              - Cancelled
              - InitiationCompleted
              - InitiationFailed
              - InitiationPending
            StatusUpdateDateTime:
              description: "Date and time at which the resource status was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
              type: string
              format: date-time
            Charges:
              type: array
              items:
                type: object
                description: Set of elements used to provide details of a charge for the payment initiation.
                required:
                - ChargeBearer
                - Type
                - Amount
                properties:
                  ChargeBearer:
                    $ref: '#/components/schemas/OBChargeBearerType1Code'
                  Type:
                    $ref: '#/components/schemas/OBExternalPaymentChargeType1Code'
                  Amount:
                    $ref: '#/components/schemas/OBActiveOrHistoricCurrencyAndAmount'
            Initiation:
              type: object
              required:
              - Frequency
              - FirstPaymentDateTime
              - FirstPaymentAmount
              - CreditorAccount
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a domestic standing order.
              properties:
                Frequency:
                  description: "Individual Definitions:\nEvryDay - Every day\nEvryWorkgDay - Every working day\nIntrvlWkDay - An interval specified in weeks (01 to 09), and the day within the week (01 to 07)\nWkInMnthDay - A monthly interval, specifying the week of the month (01 to 05) and day within the week (01 to 07)\nIntrvlMnthDay - An interval specified in months (between 01 to 06, 12, 24), specifying the day within the month (-5 to -1, 1 to 31)\nQtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED). \nENGLISH = Paid on the 25th March, 24th June, 29th September and 25th December. \nSCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th November.\nRECEIVED = Paid on the 20th March, 19th June, 24th September and 20th December. \nIndividual Patterns:\nEvryDay (ScheduleCode)\nEvryWorkgDay (ScheduleCode)\nIntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks + DayInWeek)\nWkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth + DayInWeek)\nIntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode + IntervalInMonths + DayInMonth)\nQtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode + QuarterDay\nThe regular expression for this element combines five smaller versions for each permitted pattern. To aid legibility - the components are presented individually here:\nEvryDay\nEvryWorkgDay\nIntrvlWkDay:0[1-9]:0[1-7]\nWkInMnthDay:0[1-5]:0[1-7]\nIntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])\nQtrDay:(ENGLISH|SCOTTISH|RECEIVED)\nFull Regular Expression:\n^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$"
                  type: string
                  pattern: ^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
                Reference:
                  description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                    Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                    If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.'
                  type: string
                  minLength: 1
                  maxLength: 35
                NumberOfPayments:
                  description: Number of the payments that will be made in completing this frequency sequence including any executed since the sequence start date.
                  type: string
                  minLength: 1
                  maxLength: 35
                FirstPaymentDateTime:
                  description: "The date on which the first payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                RecurringPaymentDateTime:
                  description: "The date on which the first recurring payment for a Standing Order schedule will be made. \nUsage: This must be populated only if the first recurring date is different to the first payment date.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FinalPaymentDateTime:
                  description: "The date on which the final payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FirstPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the first Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                RecurringPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the recurring Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                FinalPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the final Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Provides the details to identify the debtor account.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                CreditorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level.

                        Note, the account name is not the product name or the nickname of the account.

                        OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            MultiAuthorisation:
              type: object
              required:
              - Status
              description: The multiple authorisation flow response from the ASPSP.
              properties:
                Status:
                  description: Specifies the status of the authorisation flow in code form.
                  type: string
                  enum:
                  - Authorised
                  - AwaitingFurtherAuthorisation
                  - Rejected
                NumberRequired:
                  description: Number of authorisations required for payment order (total required at the start of the multi authorisation journey).
                  type: integer
                NumberReceived:
                  description: Number of authorisations received.
                  type: integer
                LastUpdateDateTime:
                  description: "Last date and time at the authorisation flow was updated.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                ExpirationDateTime:
                  description: "Date and time at which the requested authorisation flow must be completed.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
        Links:
          $ref: '#/components/schemas/Links'
        Meta:
          $ref: '#/components/schemas/Meta'
    OBRisk1:
      type: object
      description: The Risk section is sent by the initiating party to the ASPSP. It is used to specify additional details for risk scoring for Payments.
      properties:
        PaymentContextCode:
          description: Specifies the payment context
          type: string
          enum:
          - BillPayment
          - EcommerceGoods
          - EcommerceServices
          - Other
          - PartyToParty
        MerchantCategoryCode:
          description: Category code conform to ISO 18245, related to the type of services or goods the merchant provides for the transaction.
          type: string
          minLength: 3
          maxLength: 4
        MerchantCustomerIdentification:
          description: The unique customer identifier of the PSU with the merchant.
          type: string
          minLength: 1
          maxLength: 70
        DeliveryAddress:
          type: object
          required:
          - TownName
          - Country
          description: Information that locates and identifies a specific address, as defined by postal services or in free format text.
          properties:
            AddressLine:
              type: array
              items:
                description: Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.
                type: string
                minLength: 1
                maxLength: 70
              minItems: 0
              maxItems: 2
            StreetName:
              $ref: '#/components/schemas/StreetName'
            BuildingNumber:
              $ref: '#/components/schemas/BuildingNumber'
            PostCode:
              $ref: '#/components/schemas/PostCode'
            TownName:
              $ref: '#/components/schemas/TownName'
            CountrySubDivision:
              type: array
              items:
                description: Identifies a subdivision of a country, for instance state, region, county.
                type: string
                minLength: 1
                maxLength: 35
              minItems: 0
              maxItems: 2
            Country:
              description: Nation with its own government, occupying a particular territory.
              type: string
              pattern: ^[A-Z]{2,2}$
    Identification:
      description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
      type: string
      minLength: 1
      maxLength: 256
    SecondaryIdentification:
      description: "This is secondary identification of the account, as assigned by the account servicing institution. \nThis can be used by building societies to additionally identify accounts with a roll number (in addition to a sort code and account number combination)."
      type: string
      minLength: 1
      maxLength: 34
    TownName:
      description: Name of a built-up area, with defined boundaries, and a local government.
      type: string
      minLength: 1
      maxLength: 35
    OBWriteDomesticStandingOrderConsent4:
      type: object
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          required:
          - Permission
          - Initiation
          properties:
            Permission:
              description: Specifies the Open Banking service request types.
              type: string
              enum:
              - Create
            Initiation:
              type: object
              required:
              - Frequency
              - FirstPaymentDateTime
              - FirstPaymentAmount
              - CreditorAccount
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a domestic standing order.
              properties:
                Frequency:
                  description: "Individual Definitions:\nEvryDay - Every day\nEvryWorkgDay - Every working day\nIntrvlWkDay - An interval specified in weeks (01 to 09), and the day within the week (01 to 07)\nWkInMnthDay - A monthly interval, specifying the week of the month (01 to 05) and day within the week (01 to 07)\nIntrvlMnthDay - An interval specified in months (between 01 to 06, 12, 24), specifying the day within the month (-5 to -1, 1 to 31)\nQtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED). \nENGLISH = Paid on the 25th March, 24th June, 29th September and 25th December. \nSCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th November.\nRECEIVED = Paid on the 20th March, 19th June, 24th September and 20th December. \nIndividual Patterns:\nEvryDay (ScheduleCode)\nEvryWorkgDay (ScheduleCode)\nIntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks + DayInWeek)\nWkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth + DayInWeek)\nIntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode + IntervalInMonths + DayInMonth)\nQtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode + QuarterDay\nThe regular expression for this element combines five smaller versions for each permitted pattern. To aid legibility - the components are presented individually here:\nEvryDay\nEvryWorkgDay\nIntrvlWkDay:0[1-9]:0[1-7]\nWkInMnthDay:0[1-5]:0[1-7]\nIntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])\nQtrDay:(ENGLISH|SCOTTISH|RECEIVED)\nFull Regular Expression:\n^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$"
                  type: string
                  pattern: ^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
                Reference:
                  description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                    Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                    If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.'
                  type: string
                  minLength: 1
                  maxLength: 35
                NumberOfPayments:
                  description: Number of the payments that will be made in completing this frequency sequence including any executed since the sequence start date.
                  type: string
                  minLength: 1
                  maxLength: 35
                FirstPaymentDateTime:
                  description: "The date on which the first payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                RecurringPaymentDateTime:
                  description: "The date on which the first recurring payment for a Standing Order schedule will be made. \nUsage: This must be populated only if the first recurring date is different to the first payment date.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FinalPaymentDateTime:
                  description: "The date on which the final payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FirstPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the first Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                RecurringPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the recurring Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                FinalPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the final Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Provides the details to identify the debtor account.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                CreditorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level.

                        Note, the account name is not the product name or the nickname of the account.

                        OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
            Authorisation:
              type: object
              required:
              - AuthorisationType
              description: The authorisation type request from the TPP.
              properties:
                AuthorisationType:
                  description: Type of authorisation flow requested.
                  type: string
                  enum:
                  - Any
                  - Single
                CompletionDateTime:
                  description: "Date and time at which the requested authorisation flow must be completed.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
            SCASupportData:
              type: object
              description: Supporting Data provided by TPP, when requesting SCA Exemption.
              properties:
                RequestedSCAExemptionType:
                  description: This field allows a PISP to request specific SCA Exemption for a Payment Initiation
                  type: string
                  enum:
                  - BillPayment
                  - ContactlessTravel
                  - EcommerceGoods
                  - EcommerceServices
                  - Kiosk
                  - Parking
                  - PartyToParty
                AppliedAuthenticationApproach:
                  description: 'Specifies a character string with a maximum length of 40 characters.

                    Usage: This field indicates whether the PSU was subject to SCA performed by the TPP'
                  type: string
                  enum:
                  - CA
                  - SCA
                ReferencePaymentOrderId:
                  description: 'Specifies a character string with a maximum length of 140 characters.

                    Usage: If the payment is recurring then the transaction identifier of the previous payment occurrence so that the ASPSP can verify that the PISP, amount and the payee are the same as the previous occurrence.'
                  type: string
                  minLength: 1
                  maxLength: 128
        Risk:
          $ref: '#/components/schemas/OBRisk1'
    OBSupplementaryData1:
      type: object
      properties: {}
      additionalProperties: true
      description: Additional information that can not be captured in the structured fields and/or any other specific block.
    OBWriteDomesticStandingOrder3:
      type: object
      required:
      - Data
      - Risk
      properties:
        Data:
          type: object
          required:
          - ConsentId
          - Initiation
          properties:
            ConsentId:
              description: 'OB: Unique identification as assigned by the ASPSP to uniquely identify the consent resource.'
              type: string
              minLength: 1
              maxLength: 128
            Initiation:
              type: object
              required:
              - Frequency
              - FirstPaymentDateTime
              - FirstPaymentAmount
              - CreditorAccount
              description: The Initiation payload is sent by the initiating party to the ASPSP. It is used to request movement of funds from the debtor account to a creditor for a domestic standing order.
              properties:
                Frequency:
                  description: "Individual Definitions:\nEvryDay - Every day\nEvryWorkgDay - Every working day\nIntrvlWkDay - An interval specified in weeks (01 to 09), and the day within the week (01 to 07)\nWkInMnthDay - A monthly interval, specifying the week of the month (01 to 05) and day within the week (01 to 07)\nIntrvlMnthDay - An interval specified in months (between 01 to 06, 12, 24), specifying the day within the month (-5 to -1, 1 to 31)\nQtrDay - Quarterly (either ENGLISH, SCOTTISH, or RECEIVED). \nENGLISH = Paid on the 25th March, 24th June, 29th September and 25th December. \nSCOTTISH = Paid on the 2nd February, 15th May, 1st August and 11th November.\nRECEIVED = Paid on the 20th March, 19th June, 24th September and 20th December. \nIndividual Patterns:\nEvryDay (ScheduleCode)\nEvryWorkgDay (ScheduleCode)\nIntrvlWkDay:IntervalInWeeks:DayInWeek (ScheduleCode + IntervalInWeeks + DayInWeek)\nWkInMnthDay:WeekInMonth:DayInWeek (ScheduleCode + WeekInMonth + DayInWeek)\nIntrvlMnthDay:IntervalInMonths:DayInMonth (ScheduleCode + IntervalInMonths + DayInMonth)\nQtrDay: + either (ENGLISH, SCOTTISH or RECEIVED) ScheduleCode + QuarterDay\nThe regular expression for this element combines five smaller versions for each permitted pattern. To aid legibility - the components are presented individually here:\nEvryDay\nEvryWorkgDay\nIntrvlWkDay:0[1-9]:0[1-7]\nWkInMnthDay:0[1-5]:0[1-7]\nIntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01])\nQtrDay:(ENGLISH|SCOTTISH|RECEIVED)\nFull Regular Expression:\n^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$"
                  type: string
                  pattern: ^(EvryDay)$|^(EvryWorkgDay)$|^(IntrvlDay:((0[2-9])|([1-2][0-9])|3[0-1]))$|^(IntrvlWkDay:0[1-9]:0[1-7])$|^(WkInMnthDay:0[1-5]:0[1-7])$|^(IntrvlMnthDay:(0[1-6]|12|24):(-0[1-5]|0[1-9]|[12][0-9]|3[01]))$|^(QtrDay:(ENGLISH|SCOTTISH|RECEIVED))$
                Reference:
                  description: 'Unique reference, as assigned by the creditor, to unambiguously refer to the payment transaction.

                    Usage: If available, the initiating party should provide this reference in the structured remittance information, to enable reconciliation by the creditor upon receipt of the amount of money.

                    If the business context requires the use of a creditor reference or a payment remit identification, and only one identifier can be passed through the end-to-end chain, the creditor''s reference or payment remittance identification should be quoted in the end-to-end transaction identification.'
                  type: string
                  minLength: 1
                  maxLength: 35
                NumberOfPayments:
                  description: Number of the payments that will be made in completing this frequency sequence including any executed since the sequence start date.
                  type: string
                  minLength: 1
                  maxLength: 35
                FirstPaymentDateTime:
                  description: "The date on which the first payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                RecurringPaymentDateTime:
                  description: "The date on which the first recurring payment for a Standing Order schedule will be made. \nUsage: This must be populated only if the first recurring date is different to the first payment date.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FinalPaymentDateTime:
                  description: "The date on which the final payment for a Standing Order schedule will be made.All dates in the JSON payloads are represented in ISO 8601 date-time format. \nAll date-time fields in responses must include the timezone. An example is below:\n2017-04-05T10:43:07+00:00"
                  type: string
                  format: date-time
                FirstPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the first Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                RecurringPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the recurring Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                FinalPaymentAmount:
                  type: object
                  required:
                  - Amount
                  - Currency
                  description: The amount of the final Standing Order
                  properties:
                    Amount:
                      $ref: '#/components/schemas/OBActiveCurrencyAndAmount_SimpleType'
                    Currency:
                      $ref: '#/components/schemas/ActiveOrHistoricCurrencyCode'
                DebtorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  description: Provides the details to identify the debtor account.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level, as displayed by the ASPSP''s online channels.

                        Note, the account name is not the product name or the nickname of the account.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                CreditorAccount:
                  type: object
                  required:
                  - SchemeName
                  - Identification
                  - Name
                  description: Identification assigned by an institution to identify an account. This identification is known by the account owner.
                  properties:
                    SchemeName:
                      $ref: '#/components/schemas/OBExternalAccountIdentification4Code'
                    Identification:
                      $ref: '#/components/schemas/Identification'
                    Name:
                      description: 'The account name is the name or names of the account owner(s) represented at an account level.

                        Note, the account name is not the product name or the nickname of the account.

                        OB: ASPSPs may carry out name validation for Confirmation of Payee, but it is not mandatory.'
                      type: string
                      minLength: 1
                      maxLength: 70
                    SecondaryIdentification:
                      $ref: '#/components/schemas/SecondaryIdentification'
                SupplementaryData:
                  $ref: '#/components/schemas/OBSupplementaryData1'
        Risk:
          $ref: '#/components/schemas/OBRisk1'
    PostCode:
      description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.
      type: string
      minLength: 1
      maxLength: 16
    OBError1:
      type: object
      properties:
        ErrorCode:
          description: Low level textual error code, e.g., UK.OBIE.Field.Missing
          type: string
          x-namespaced-enum:
          - UK.OBIE.Field.Expected
          - UK.OBIE.Field.Invalid
          - UK.OBIE.Field.InvalidDate
          - UK.OBIE.Field.Missing
          - UK.OBIE.Field.Unexpected
          - UK.OBIE.Header.Invalid
          - UK.OBIE.Header.Missing
          - UK.OBIE.Reauthenticate
          - UK.OBIE.Resource.ConsentMismatch
          - UK.OBIE.Resource.InvalidConsentStatus
          - UK.OBIE.Resource.InvalidFormat
          - UK.OBIE.Resource.NotFound
          - UK.OBIE.Rules.AfterCutOffDateTime
          - UK.OBIE.Rules.DuplicateReference
          - UK.OBIE.Signature.Invalid
          - UK.OBIE.Signature.InvalidClaim
          - UK.OBIE.Signature.Malformed
          - UK.OBIE.Signature.Missing
          - UK.OBIE.Signature.MissingClaim
          - UK.OBIE.Signature.Unexpected
          - UK.OBIE.UnexpectedError
          - UK.OBIE.Unsupported.AccountIdentifier
          - UK.OBIE.Unsupported.AccountSecondaryIdentifier
          - UK.OBIE.Unsupported.Currency
          - UK.OBIE.Unsupported.Frequency
          - UK.OBIE.Unsupported.LocalInstrument
          - UK.OBIE.Unsupported.Scheme
        Message:
          description: 'A description of the error that occurred. e.g., ''A mandatory field isn''t supplied'' or ''RequestedExecutionDateTime must be in future''

            OBIE doesn''t standardise this field'
          type: string
          minLength: 1
          maxLength: 500
        Path:
          description: Recommended but optional reference to the JSON Path of the field with error, e.g., Data.Initiation.InstructedAmount.Currency
          type: string
          minLength: 1
          maxLength: 500
        Url:
          description: URL to help remediate the problem, or provide more information, or to API Reference, or help etc
          type: string
      required:
      - ErrorCode
      - Message
      additionalProperties: false
      minProperties: 1
  parameters:
    DomesticStandingOrderId:
      name: DomesticStandingOrderId
      in: path
      description: DomesticStandingOrderId
      required: true
      schema:
        type: string
    x-fapi-interaction-id:
      in: header
      name: x-fapi-interaction-id
      required: false
      description: An RFC4122 UID used as a correlation id.
      schema:
        type: string
    x-jws-signature:
      in: header
      name: x-jws-signature
      required: true
      description: A detached JWS signature of the body of the payload.
      schema:
        type: string
    x-fapi-auth-date:
      in: header
      name: x-fapi-auth-date
      required: false
      description: "The time when the PSU last logged in with the TPP. \nAll dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: \nSun, 10 Sep 2017 19:43:31 UTC"
      schema:
        type: string
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
    x-idempotency-key:
      name: x-idempotency-key
      in: header
      description: 'Every request will be processed only once per x-idempotency-key.  The

        Idempotency Key will be valid for 24 hours.

        '
      required: true
      schema:
        type: string
        pattern: ^(?!\s)(.*)(\S)$
        maxLength: 40
    Authorization:
      in: header
      name: Authorization
      required: true
      description: An Authorisation Token as per https://tools.ietf.org/html/rfc6750
      schema:
        type: string
    ConsentId:
      name: ConsentId
      in: path
      description: ConsentId
      required: true
      schema:
        type: string
    x-fapi-customer-ip-address:
      in: header
      name: x-fapi-customer-ip-address
      required: false
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      schema:
        type: string
  responses:
    201DomesticStandingOrdersCreated:
      description: Domestic Standing Orders Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticStandingOrderResponse4'
    500Error:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    429Error:
      description: Too Many Requests
      headers:
        Retry-After:
          description: Number in seconds to wait
          schema:
            type: integer
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    406Error:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    200DomesticStandingOrderConsentsConsentIdRead:
      description: Domestic Standing Order Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsentResponse4'
    401Error:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    404Error:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    400Error:
      description: Bad request
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    201DomesticStandingOrderConsentsCreated:
      description: Domestic Standing Order Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsentResponse4'
    200DomesticStandingOrdersDomesticStandingOrderIdRead:
      description: Domestic Standing Orders Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticStandingOrderResponse4'
    403Error:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: 'Header containing a detached JWS signature of the body of the payload.

            '
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBErrorResponse1'
    405Error:
      description: Method Not Allowed
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
  requestBodies:
    OBWriteDomesticStandingOrder3Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticStandingOrder3'
      required: true
    OBWriteDomesticStandingOrderConsent4Param:
      description: Default
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OBWriteDomesticStandingOrderConsent4'
      required: true
  securitySchemes:
    TPPOAuth2Security:
      type: oauth2
      description: TPP client credential authorisation flow with the ASPSP
      flows:
        clientCredentials:
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
    PSUOAuth2Security:
      type: oauth2
      description: OAuth flow, it is required when the PSU needs to perform SCA with the ASPSP when a TPP wants to access an ASPSP resource owned by the PSU
      flows:
        authorizationCode:
          authorizationUrl: https://authserver.example/authorization
          tokenUrl: https://authserver.example/token
          scopes:
            payments: Generic payment scope
